<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>

    <form method="POST">
        {% csrf_token %}
        <!--
        <input type="text" name="username">
        <input type="text" name="first_name">
        <input type="text" name="last_name">
        <input type="email" name="email">
        <input type="password" name="password1">
        <input type="password" name="password2">
        <input type="textfield" name="contact_number">
        
        {{ form.as_p }}
        -->

        {% for field in login_form %}
            <p>
                {{field.label_tag}}
                {{field}}

                {% if field.help_text %}
                    <small style="color:crimson;">{{field.help_tex}}</small>
                {% endif %}
            </p>
        {% endfor %}
        
        {% for field in login_form %}
            {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
            {% endfor %}
        {% endfor %}

        {% if login_form.non_field_errors %}
            <div style="color:red;">
                <p> {{ login_form.non_field_errors }} </p>
            </div>
        {% endif %}

        <button type="submit" >Login</button>



    </form>

</body>
</html>