{% extends 'post/base.html' %}
{% block title %} Update Profile {% endblock %}
{% block content %}

<div class="container text-center">
    <b>Update Profile</b>

    <form method="POST">
        {% csrf_token %}
		<p  align="left">
			<b>E-mail: {{form.email}}</b> </br></br>
			<b>Username: {{form.username}}</b> </br></br>
			<b>Name: {{form.name}}</b> </br></br>
			<b>Contact Number: {{form.contact_number}}</b> </br></br>
			<b>Address: {{form.address}}</b> </br></br>
			<b>Date of Birth: {{form.date_of_birth}}</b> </br></br>
			<b>NID Number {{form.nid}}</b> </br></br>
			<b>Blood Group: {{form.blood_group}}</b> </br></br>
			<button type="submit" >Update Profile</button> </br></br>
		</p>
    </form>
</div>

{% endblock %}